@model GymPFF.Models.RayosUV

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Estás seguro que deseas eliminar?</h3>
<div>
    <h4>RayosUV</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Numero de cuarto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumCuarto)
        </dd>
        <dt class = "col-sm-2">
            Hora de uso
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraUso)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RayosUVId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
