@model GymPFF.Models.Empleado

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Empleado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmpleadoId" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                Primer y Segundo Apellido
                <input asp-for="ApellidosCompletos" class="form-control" />
                <span asp-validation-for="ApellidosCompletos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                Fecha de Nacimiento
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                Numero de celular
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                Numero de Cedula
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                Puesto
                <input asp-for="PuestoEmpleado" class="form-control" />
                <span asp-validation-for="PuestoEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                Cuota CCSS
                <input asp-for="SeguroCCSS" class="form-control" />
                <span asp-validation-for="SeguroCCSS" class="text-danger"></span>
            </div>
            <div class="form-group">
                Cuota Poliza INS
                <input asp-for="PolizaINS" class="form-control" />
                <span asp-validation-for="PolizaINS" class="text-danger"></span>
            </div>
            <div class="form-group">
                Cuenta Bancaria
                <input asp-for="CuentaBanco" class="form-control" />
                <span asp-validation-for="CuentaBanco" class="text-danger"></span>
            </div>
            <div class="form-group">
                Retencion CCSS
                <input asp-for="RetencionCCSS" class="form-control" />
                <span asp-validation-for="RetencionCCSS" class="text-danger"></span>
            </div>
            <div class="form-group">
                Salario Neto
                <input asp-for="SalarioNeto" class="form-control" />
                <span asp-validation-for="SalarioNeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
